@font-face {
	font-family: 'Satoshi';
	src: url('assets/fonts/Satoshi/Satoshi-Variable.ttf') format('truetype');
}

html, body {
	font-family: 'Satoshi', Helvetica, sans-serif;
	font-weight: 400;
}

.page-transition {
	animation: transitionIn 0.3s linear;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(193, 194, 196, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; 
}
